.place-order{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
}
.order-left .title{
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-bottom: 50px;
}
.order-left{
    width: 100%;

}
.order-left input{
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    width: 100%;

}
.order-left .input-fields{
    display: flex;
    gap: 20px;
}
.order-right{
    width: 100%;
}
.cart-total{
    width: 100%;

}