.cart{
    margin-top: 60px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: rgb(95, 93, 93);
    font-size: 16px;
    font-weight: 500;
}
.cart-items-item{
    margin: 10px 0;
    color: black;
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    border: none;
    background-color: #e2e2e2;
}
.cart-items-item .cross{
    border: none;
    background-color: tomato;
    color: white;
    padding: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20vw;

}
.cart-total-details{
    color: #555;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.cart-total button{
    padding: 15px 10px;
    border: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode .promo{
     display: flex;
     flex-direction: column;
     gap: 20px;
     font-size: 18px;
     color: black;
     justify-content: start;
}
.cat-promocode-input{
    display: flex;
    gap: 20px;
}
.cat-promocode-input input{
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
}
.cat-promocode-input button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

@media (max-width:750px) {
    .cart-items-title{
        font-size: 10px;
    }
    .cart-items-item img{
    width: 40px;
}
.cart-items-item .cross{
    padding: 5px 5px;
    font-size: 12px;

}
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
    .cat-promocode-input button{
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
}
}