.footer{
    margin-top: 50px;
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 40px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer .footer-content .footer-content-right .logo{
    width: 300px;
    height: 150px;
}
.footer-content-right, .footer-content-center, .footer-content-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.footer-content-center li, .footer-content-left li{
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;
}
.footer-content-center h2, .footer-content-left h2{
    color: white;
}
.footer-social-icons img{
   width: 40px;
   margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    background-color: gray;
    border: none;
}
.footer li,img{
    cursor: pointer;
}

@media (max-width:750px) {
    
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer .footer-content .footer-content-right .logo{
        width: 150px;
        height: 100px;
    }
    .footer-coryright{
        text-align: center;
    }
    .footer hr{
        margin: 5px 0;
    }
}