.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-container{
    place-self: center;
    width: 330px;
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-title img{
    width: 15px;
}
.login-input{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
}
.login-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: tomato;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.login-container .login-condition div{
    display: flex;
    align-items: start;
    margin-top: -10px;
    gap: 8px;
}
.login-container .login-condition input{
    margin-top: 5px;
}
.login-container p span{
    cursor: pointer;
    color: tomato;
    font-weight: 500;
}
.space{
    margin-top: -25px;
}