 .food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 18px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    font-size: 14px;
    color: #676767;
}
.food-item-price{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: tomato;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    position: absolute;
    width: 35px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}
.food-item-counter img{
    width: 22px;
}
